################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ReactBlogDataAPI/.vs/ReactBlogDataAPI/FileContentIndex
/ReactBlogDataAPI/obj/Debug/net8.0
