.form {
    background-color: #d55105;
    padding: 1rem;
    min-width: 1000px;
  }
  
  .form label {
    display: block;
    margin-bottom: 0.05rem;
    color: #ffffff;
    font-weight: bold;
  }
  
  .form input,
  .form textarea {
    display: block;
    width: 100%; 
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: none;
    background-color: #d4926c;
    color: #ffffff;
  }

  .form textarea {
    min-height: 320px;
  }
  
  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }
  
  .actions button {
    cursor: pointer;
    font: inherit;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 4px;
    background-color: #ac2500;
    color: #fefefe;
  }
  
  .actions button:hover {
    background-color: #c66b3a;
  }
  
  .actions button[type='button'] {
    background-color: transparent;
  }
  
  .actions button[type='button']:hover {
    color: #d1bee6;
  }